@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:ital@1&display=swap');
@import url("https://use.typekit.net/cex8mrn.css");
@import url("https://use.typekit.net/cex8mrn.css");

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9dce9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #f6adc8;
    display: grid;
    justify-content:center
}

p{
    font-family: profile-pro, sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
}

.logo_EntraSeguro{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style-type:none;
    padding: 40px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

ul li{
    list-style-type:none;
    padding:40px;
    background-color: #e20074;
}

a{
    text-decoration: none;
    font-family: profile-pro, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #f6adc8;
    margin: 10px 10px 10px 10px;

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    margin-top: 10px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    padding: 15px;
}

h1{
    text-align: center;
    font-family: cooper-black-std, serif;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-transform: uppercase;
    color: #e20074;
    margin: 15px 10px 15px 10px;
}
h2{
    text-align: center;
    font-family: cooper-black-std, serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    color:#f6adc8;
    margin: 15px 10px 15px 10px;
}

h3{
    font-family: profile-pro, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 10px;
    color:#e20074;
    margin: 15px 10px 15px 10px;
}

h4{
    font-family: profile-pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 10px;
    color: pink;
    background-color: #e20074;
    margin: 15px 10px 15px 10px;
}

h5{
    font-family:'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 10px;
    margin: 20px 15px 20px 15px;
}

.precio1{
    text-align: center;
    letter-spacing: 5px;
    font-style: oblique;
    font-weight: bolder;
    color: black;
}

.precio2{
    text-align: center;
    letter-spacing: 5px;
    font-style: oblique;
    font-weight: bolder;
    color: black;
}
h2 span{
    color: #e20074;
    font-style: italic;
    padding: 10px;
}

h4 span{
    font-weight: bolder;
    color: blue;
    background-color: cornsilk;
}

.SideShows_Lolla{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.articulo_titulo{
    font-family: profile-pro, sans-serif;
    color: #e20074;
    font-size: 25px;
}

.lolla_logo{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
}

.cuerpo{
    text-align: left;

}
.lineup_artistas{
    font-weight: bolder;
    text-align: left;
    font-size: 15px;
    margin: 20px;
}

.lineup_titulo{
    font-family: cooper-black-std, serif;
    font-size: 35px;
    color: #e20074;
    background-color: #f9dce9;
}
.lineup_titulo h4{
    color: #f6adc8;
}

.subtitulo{
    font-family:cooper-black-std, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 25px;
    color: #f6adc8;
}

footer{
    background-color: #f6adc8;
    display: grid;
    justify-content:center
}

.redessociales__contacto{
    justify-content: center;
}

.redessociales__contacto div{
    text-align: center;
    margin-bottom: 50px;
}

.footer_flexbox{
    padding: 30px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: footer;

}


.texto_pie_de_pagina{
    background-color: #e20074;
    color: #f6adc8;
    padding: 40px;
    margin: 40px;
}

.iconos{
    width: 48px;
    height: 48px;
}

.SideShows_Lolla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
}

.SideShows_Lolla .subtitulo{
    min-width: 100%;
}

.SideShows_Lolla img{
    width: 300px;
    height: 300px;
    margin: 40px;
}

.link_wpp{
    color: #f6adc8;
    background-color: #e20074;
    margin: 10px 5px 10px 5px;
    text-decoration: underline;
}

.lolla_banner{
    width: 1200px;
    height: 628px;
}

.contacto{
    background-color: white;
    display: grid;
    grid-template-rows: 300px;
}

.cajatexto_flex{
    padding: 40px;
    margin: 40px 20px 40px 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.caja_de_texto{

    color: black;
    font-size: 15px;
    text-align: left;
}

.grids_lineup{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: space-between;
}

.transformaciones:hover{
    transform: scale(2);
    transition-property: all;
    transition-duration: 0.5s;
}

.logo_EntraSeguro:hover{
    transform:rotate(360deg);
    transition-property: all;
    transition-duration: 2s;
}

/* BOOTSTRAP - FAQS */ 

.accordion-item{
    font-family: profile-pro, sans-serif ;
    background-color: #f9dce9;
    color: #e20074;
}

.accordion-header{
    background-color: #e20074;
    color: #f6adc8;
}