article{
    .reportarerror {
        font-family: profile-pro, sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        letter-spacing: 1px;
        word-spacing: 10px;
        color:#e20074;
        margin: 15px 10px 15px 10px;

        .link_wpp{
            color: #f6adc8;
            background-color: #e20074;
            margin: 10px 5px 10px 5px;
            text-decoration: underline;
        }
        
    }
}