@import "variableglobal";
@import "generales";
@import "titulo";
@import "reportarerror";

p{
    font-family: profile-pro, sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    line-height: 50px;
    letter-spacing: 1px;
}

.logo_EntraSeguro{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style-type:none;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

ul li{
    list-style-type:none;
    background-color: #e20074;
    padding: 20px;
}

a{
    text-decoration: none;
    font-family: profile-pro, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #f6adc8;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    margin-top: 10px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    padding: 15px;
}

h3{
    font-family: profile-pro, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 10px;
    color:#e20074;
    margin: 15px 10px 15px 10px;
}

h4{
    font-family: profile-pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 10px;
    color: pink;
    margin: 15px 10px 15px 10px;
}

h5{
    font-family:'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 10px;
    margin: 20px 15px 20px 15px;
}

/* TIENDA */ 
.precio1{
    text-align: center;
    letter-spacing: 5px;
    font-style: oblique;
    font-weight: bolder;
    color: black;
}

.precio2{
    text-align: center;
    letter-spacing: 5px;
    font-style: oblique;
    font-weight: bolder;
    color: black;
}

.subtitulos{
    font-family: cooper-black-std, serif;
    color: #e20074;
    font-style: italic;
    padding: 10px;
}

h4 span{
    font-weight: bolder;
    color: #f6adc8;
    text-decoration: underline;
}

.iconos_tienda{
    width: 35px;
    display:block;
    margin:auto;
}

.textosecundario{
    text-align: left;
    background-color: none;
    color: #e20074;
}

.textos_importantes{
    background-color: #e20074;
}

.SideShows_Lolla{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.articulo_titulo{
    font-family: profile-pro, sans-serif;
    color: #e20074;
    font-size: 25px;
}

.lolla_logo{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
}

.cuerpo{
    text-align: left;

}
.lineup_artistas{
    font-weight: bolder;
    text-align: left;
    font-size: 15px;
    margin: 20px;
}

.lineup_titulo{
    font-family: cooper-black-std, serif;
    font-size: 35px;
    color: #e20074;
    background-color: #f9dce9;
}
.lineup_titulo h4{
    color: #f6adc8;
}

.subtitulo{
    font-family:cooper-black-std, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 25px;
    color: #f6adc8;
}

.SideShows_Lolla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
}

.SideShows_Lolla .subtitulo{
    min-width: 100%;
}

.SideShows_Lolla img{
    width: 300px;
    height: 300px;
    margin: 40px;
}

.lolla_banner{
    width: 1200px;
    height: 628px;
}

.contacto{
    background-color: white;
    display: grid;
    grid-template-rows: 300px;
}

.cajatexto_flex{
    padding: 40px;
    margin: 40px 20px 40px 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.caja_de_texto{

    color: black;
    font-size: 15px;
    text-align: left;
}

.grids_lineup{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: space-between;
}

.transformaciones:hover{
    transform: scale(2);
    transition-property: all;
    transition-duration: 0.5s;
}

.logo_EntraSeguro:hover{
    transform:rotate(360deg);
    transition-property: all;
    transition-duration: 2s;
}

/* BOOTSTRAP - FAQS */ 

.accordion-item{
    font-family: profile-pro, sans-serif ;
    background-color: #f9dce9;
    color: #e20074;
}

.container-fluid{
    background-color: #e20074;
    margin: 20px 20px 20px 20px;
}

.nav-item{
    color: #f6adc8;
    padding: 30px;
    margin: 30px;
}



